.update-entity {
    width: 400px;
    margin: 0 auto;
}

.update-entity form {
    display: flex;
    flex-direction: column;
}

.update-entity h2 {
    
    margin: 100px;
}

.update-entity input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.update-entity button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.update-entity button:hover {
    background-color: #0056b3;
}